.description-container :nth-child(1){
  padding-top: 1rem;
}
.description-container :nth-child(2){
  padding-top: 1rem;
}
.description-container :nth-child(3){
  padding-top: 1rem;
}
.description-container :nth-child(4){
  padding-top: 1rem;
}
p{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.text-div{
  padding-top: 3rem;
}
.text-column{
  background-color: aliceblue;
}
.description-heading{
  font-family: 'Times New Roman', Times, serif;
}