.about-container{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 10px;
}

.about-container :nth-child(1){
  padding-top: 30px;
  font-family: 'Times New Roman', Times, serif;
}
.about-container :nth-child(5){
  margin-top: 35px; 
  margin-bottom: 30px;
}
.btn{
  border: 1px solid black;
  border-radius: 0;
  padding: 7px 45px;
  color: black;
}
.btn:hover{
  border: 1px solid black;
  background-color: rgb(178, 61, 22); 
  color: whitesmoke;
}