.nav-dwarf-img{
  width: 32px;
  height: 32px;
}
.nav-wine-img{
  width: 16px;
  height: 16px;
}
.brand-detail{
  font-family: fantasy;
}
.nav-link-text{
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-right: 15px;
  font-size: large;
}
.nav-link-text:hover{
  color: rgb(119, 59, 9);
}